body{
	background:url('MIST_Plaza.jpg')no-repeat;
	background-size:cover;
	background-attachment: fixed;
	font-family:Arial;
	color:white;
}

.button{
	width: 25%;
	padding: 2px;
	margin: 0px auto;
	border: 1px solid #B0C4DE;
	border-radius: 30px 30px 30px 30px;
	background-color: rgba(100,100,100, .5);
	position: center;
	font-size:25px;
}