body{
	background:url('mist.png')no-repeat;
	background-size:cover;
	font-family:Arial;
	color:white;
}
header {
	color: #FFFFFF;
	position: center;
}
form {
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	border-radius: 10px 10px 10px 10px;
	background-color: rgba(100,100,100, .7);
	position: center;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 3px;
}
.input-group input{
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  margin: 2%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.input-group select{
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  margin: 2%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
