.Logout {
	background: #800000;
	color: white;
	position: right;
	overflow:hidden;
	width: 10%;
	font-size: 22px;
	margin: 10px auto;
	padding: 5px;
	border-radius: 10px 10px 10px 10px;
	float:right;
    position:absolute;
    top:0;
    right:0;
    clear:right
}

.ShowForm{
	background: green;
	color: white;
	position: relative;
	overflow:hidden;
	width: 20%;
	font-size: 22px;
	margin: 10px auto;
	padding: 5px;
	border-radius: 10px 10px 10px 10px;
	float:right;
    position:absolute;
    top:0.2;
    right:0;
    clear:right
}

